<h3 class="mt-4 mb-4 h3-sunarp">Administrar Clientes en el Sistema</h3>
<div class="w-100 mt-4">
  <button (click)="listar()" style="margin-right: 20px;" type="button" class="btn-sunarp-green"><i
      class="fa fa-refresh icon-sunarp"></i>Recargar</button>
  <button (click)="accionArchivo(1)" style="margin-right: 20px;" type="button" class="btn-sunarp-cyan"><i
      class="fa fa-user icon-sunarp"></i>Registrar</button>
</div>

<div class="mt-2">
  <div class="table-responsive">
    <table datatable class="table thead-sunarp" datatable [dtOptions]="datatable_cliente"
      [dtTrigger]="datatable_dtTrigger_cliente">
      <thead>
        <tr>
          <th style="width: 30px" class="text-center">N°</th>
          <th class="text-center">DNI</th>
          <th class="text-center">Nombre</th>
          <th class="text-center">Paterno</th>
          <th class="text-center">Materno</th>
          <th class="text-center">Teléfono</th>
          <th class="text-center">Email</th>
          <th class="text-center">Opciones</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>

<ng-template #modal_ver_cliente let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header bg-sunarp-gray-dark">
      <h3 class="modal-title h3-sunarp text-white">CLIENTE</h3>
      <button tabindex="-1" type="button" class="close" aria-label="Close"
        style="overflow:hidden; position: absolute; right: 30px; top: 1px;background-color: transparent;border: 0px;"
        (click)="modal_ver_cliente_va.close();">
        <span aria-hidden="true" style="font-size:35px !important;" class="text-white">&times;</span>
      </button>
    </div>
    <div class="modal-body pl-5 pb-4 pr-5 pt-4">
      <h2 class="title-typ-devo text-center" style="font-size: 35px;">{{tipoAccion==1?'REGISTRAR':'EDITAR'}} <span
          class="text-sunarp-cyan"> CLIENTE</span>
      </h2>
      <form [formGroup]="formCliente">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="row">
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">DNI</label>
                <input formControlName="docIden" maxlength="250" type="text" class="form-control-sunarp">
                <small *ngIf="formBusValid && fBus.docIden.errors?.required"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo es requerido</small>
                  <small
                  *ngIf="formBusValid && fBus.docIden.errors?.onlynumber_invalid"
                  class="invalid-feedback-sunarp p-0 mt-2">El DNI deben ser solo dígitos</small>
                <small *ngIf="formBusValid && fBus.docIden.errors?.dni_invalid && fBus.docIden.errors?.onlynumber_invalid==null"
                  class="invalid-feedback-sunarp p-0 mt-2">El usuario debe tener solo 8 dígitos</small>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">Nombre</label>
                <input (input)="convertirEnMayusculas('nombre')" formControlName="nombre" maxlength="250" type="text"
                  class="form-control-sunarp">
                <small *ngIf="formBusValid && fBus.nombre.errors?.required"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo es requerido</small>
                <small *ngIf="formBusValid && fBus.nombre.errors?.onlyletter_invalid"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo solo deben ser letras</small>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">Paterno</label>
                <input (input)="convertirEnMayusculas('apellidoPaterno')" formControlName="apellidoPaterno"
                  maxlength="250" type="text" class="form-control-sunarp">
                <small *ngIf="formBusValid && fBus.apellidoPaterno.errors?.required"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo es requerido</small>
                <small *ngIf="formBusValid && fBus.apellidoPaterno.errors?.onlyletter_invalid"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo solo deben ser letras</small>
              </div>
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">Materno</label>
                <input (input)="convertirEnMayusculas('apellidoMaterno')" formControlName="apellidoMaterno"
                  maxlength="250" type="text" class="form-control-sunarp">
                <small *ngIf="formBusValid && fBus.apellidoMaterno.errors?.required"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo es requerido</small>
                <small *ngIf="formBusValid && fBus.apellidoMaterno.errors?.onlyletter_invalid"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo solo deben ser letras</small>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">Teléfono</label>
                <input formControlName="telefono" maxlength="250" type="text" class="form-control-sunarp">
                <small *ngIf="formBusValid && fBus.telefono.errors?.required"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo es requerido</small>
                <small *ngIf="formBusValid && fBus.telefono.errors?.onlynumber_invalid"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo solo debe contener dígitos</small>
                <small
                  *ngIf="formBusValid && fBus.telefono.errors?.telfcel_invalid && fBus.telefono.errors?.onlynumber_invalid==null"
                  class="invalid-feedback-sunarp p-0 mt-2">El Teléfono solo debe tener entre 7 y 9 dígitos</small>
              </div>
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">Correo Electrónico</label>
                <input (input)="convertirEnMinusculas('email')" formControlName="email" maxlength="250" type="text"
                  class="form-control-sunarp">
                <small *ngIf="formBusValid && fBus.email.errors?.email" class="invalid-feedback-sunarp p-0 mt-2">El
                  Correo es inválido</small>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button *ngIf="tipoAccion==1" (click)="crearCliente()" type="button" class="btn-sunarp-cyan"><i
          class="fa fa-plus icon-sunarp mr-2"></i>Registrar Cliente</button>
      <button *ngIf="tipoAccion==2" (click)="editarCliente()" type="button" class="btn-sunarp-cyan"><i
          class="fa fa-pencil icon-sunarp mr-2"></i>Modificar Cliente</button>
      <button (click)="modal_ver_cliente_va.close();" type="button" class="btn-sunarp-red"><i
          class="fa fa-times icon-sunarp mr-2"></i>Salir</button>
    </div>
  </div>
</ng-template>
