@import "src/assets/sass/general.scss";

.title-typ-devo {
  font-size: $font-size-ultra;
  font-family: $ff-gotham-black-regular;
  color: $sunarp-gray-dark;
}

.no-seleccionado-servicio {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
