

<div [hidden]="clienteModel!=null" class="busqueda-cliente">
  <h2 class="h2-sunarp text-sunarp-gray-dark text-center mt-4 mb-4">Busqueda de Clientes</h2>
  <div class="row mb-4">
    <div class="col-md-12 col-lg-12">
      <form [formGroup]="formBusqueda" (ngSubmit)="buscarClientes()">
        <div class="row">
          <div class="col-lg-3 col-md-12 mt-2">
            <label class="label-sunarp">Buscar por</label><br>
            <mat-radio-group formControlName="tipo" class="w-100">
              <mat-radio-button class="mr-2" value="1">Nombre
              </mat-radio-button>
              <mat-radio-button value="2">DNI
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div *ngIf="formBusqueda.value.tipo == '1'" class="row">
          <div class="col-lg-3 col-md-12 mt-2">
            <label class="label-sunarp">Nombre</label>
            <input (input)="convertirEnMayusculas('nombre',this.formBusqueda)" formControlName="nombre" class="form-control-sunarp"
              type="text">
            <small *ngIf="fBusValid && fbus.nombre.errors?.onlyletter_invalid"
              class="invalid-feedback-sunarp p-0 mt-2">Este campo solo deben ser letras</small>
          </div>
          <div class="col-lg-3 col-md-12 mt-2">
            <label class="label-sunarp">Paterno</label>
            <input (input)="convertirEnMayusculas('paterno',this.formBusqueda)" formControlName="paterno" class="form-control-sunarp"
              type="text">
            <small *ngIf="fBusValid && fbus.paterno.errors?.onlyletter_invalid"
              class="invalid-feedback-sunarp p-0 mt-2">Este campo solo deben ser letras</small>
          </div>
          <div class="col-lg-3 col-md-12 mt-2">
            <label class="label-sunarp">Materno</label>
            <input (input)="convertirEnMayusculas('materno',this.formBusqueda)" formControlName="materno" class="form-control-sunarp"
              type="text">
            <small *ngIf="fBusValid && fbus.materno.errors?.onlyletter_invalid"
              class="invalid-feedback-sunarp p-0 mt-2">Este campo solo deben ser letras</small>
          </div>
          <div class="col-lg-3 col-md-12 mt-2">
            <button style="margin-top: 23px;" type="submit" class="btn-sunarp-cyan btn-reload-tabla mr-2"><i
                class="fa fa-search icon-sunarp"></i>Buscar</button>
          </div>
        </div>
        <div *ngIf="formBusqueda.value.tipo == '2'" class="row">
          <div class="col-lg-4 col-md-12 mt-2">
            <label class="label-sunarp">DNI</label>
            <input formControlName="dni" class="form-control-sunarp" type="text">
            <small *ngIf="fBusValid && fbus.dni.errors?.onlynumber_invalid" class="invalid-feedback-sunarp p-0 mt-2">El
              DNI deben ser solo dígitos</small>
            <small *ngIf="fBusValid && fbus.dni.errors?.dni_invalid && fbus.dni.errors?.onlynumber_invalid==null"
              class="invalid-feedback-sunarp p-0 mt-2">El DNI debe tener solo 8 dígitos</small>
          </div>
          <div class="col-lg-3 col-md-12 mt-2">
            <button style="margin-top: 23px;" type="submit" class="btn-sunarp-cyan btn-reload-tabla mr-2"><i
                class="fa fa-search icon-sunarp"></i>Buscar</button>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div>
    <div class="h6-sunarp">¿No existe el cliente? <span (click)="abrirModalCliente()" class="text-sunarp-cyan"
        style="cursor: pointer;">Registralo</span></div>
  </div>
  <div [hidden]="listaCliente.length == 0" class="mt-4">
    <div class="table-responsive">
      <table datatable class="table thead-sunarp" datatable [dtOptions]="datatable_cliente"
        [dtTrigger]="datatable_dtTrigger_cliente">
        <thead>
          <tr>
            <th style="width: 30px" class="text-center">N°</th>
            <th class="text-center">DNI</th>
            <th class="text-center">Nombre</th>
            <th class="text-center">Paterno</th>
            <th class="text-center">Materno</th>
            <th class="text-center">Teléfono</th>
            <th class="text-center">Email</th>
            <th class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>

</div>
<ng-template #modal_ver_cliente let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header bg-sunarp-gray-dark">
      <h3 class="modal-title h3-sunarp text-white">CLIENTE</h3>
      <button tabindex="-1" type="button" class="close" aria-label="Close"
        style="overflow:hidden; position: absolute; right: 30px; top: 1px;background-color: transparent;border: 0px;"
        (click)="modal_ver_cliente_va.close();">
        <span aria-hidden="true" style="font-size:35px !important;" class="text-white">&times;</span>
      </button>
    </div>
    <div class="modal-body pl-5 pb-4 pr-5 pt-4">
      <h2 class="title-typ-devo text-center" style="font-size: 35px;">REGISTRAR<span
          class="text-sunarp-cyan"> CLIENTE</span>
      </h2>
      <form [formGroup]="formCliente">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <div class="row">
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">DNI</label>
                <input formControlName="docIden" maxlength="250" type="text" class="form-control-sunarp">
                <small *ngIf="formBusValid && fBus.docIden.errors?.required"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo es requerido</small>
                  <small
                  *ngIf="formBusValid && fBus.docIden.errors?.onlynumber_invalid"
                  class="invalid-feedback-sunarp p-0 mt-2">El DNI deben ser solo dígitos</small>
                <small *ngIf="formBusValid && fBus.docIden.errors?.dni_invalid && fBus.docIden.errors?.onlynumber_invalid==null"
                  class="invalid-feedback-sunarp p-0 mt-2">El DNI debe tener solo 8 dígitos</small>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">Nombre</label>
                <input (input)="convertirEnMayusculas('nombre',this.formCliente)" formControlName="nombre" maxlength="250" type="text"
                  class="form-control-sunarp">
                <small *ngIf="formBusValid && fBus.nombre.errors?.required"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo es requerido</small>
                <small *ngIf="formBusValid && fBus.nombre.errors?.onlyletter_invalid"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo solo deben ser letras</small>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">Paterno</label>
                <input (input)="convertirEnMayusculas('apellidoPaterno',this.formCliente)" formControlName="apellidoPaterno"
                  maxlength="250" type="text" class="form-control-sunarp">
                <small *ngIf="formBusValid && fBus.apellidoPaterno.errors?.required"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo es requerido</small>
                <small *ngIf="formBusValid && fBus.apellidoPaterno.errors?.onlyletter_invalid"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo solo deben ser letras</small>
              </div>
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">Materno</label>
                <input (input)="convertirEnMayusculas('apellidoMaterno',this.formCliente)" formControlName="apellidoMaterno"
                  maxlength="250" type="text" class="form-control-sunarp">
                <small *ngIf="formBusValid && fBus.apellidoMaterno.errors?.required"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo es requerido</small>
                <small *ngIf="formBusValid && fBus.apellidoMaterno.errors?.onlyletter_invalid"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo solo deben ser letras</small>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">Teléfono</label>
                <input formControlName="telefono" maxlength="250" type="text" class="form-control-sunarp">
                <small *ngIf="formBusValid && fBus.telefono.errors?.required"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo es requerido</small>
                <small *ngIf="formBusValid && fBus.telefono.errors?.onlynumber_invalid"
                  class="invalid-feedback-sunarp p-0 mt-2">Este campo solo debe contener dígitos</small>
                <small
                  *ngIf="formBusValid && fBus.telefono.errors?.telfcel_invalid && fBus.telefono.errors?.onlynumber_invalid==null"
                  class="invalid-feedback-sunarp p-0 mt-2">El Teléfono solo debe tener entre 7 y 9 dígitos</small>
              </div>
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">Correo Electrónico</label>
                <input (input)="convertirEnMinusculas('email')" formControlName="email" maxlength="250" type="text"
                  class="form-control-sunarp">
                <small *ngIf="formBusValid && fBus.email.errors?.email" class="invalid-feedback-sunarp p-0 mt-2">El
                  Correo es inválido</small>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button  (click)="crearCliente()" type="button" class="btn-sunarp-cyan"><i
          class="fa fa-plus icon-sunarp mr-2"></i>Registrar Cliente</button>
      <button (click)="modal_ver_cliente_va.close();" type="button" class="btn-sunarp-red"><i
          class="fa fa-times icon-sunarp mr-2"></i>Salir</button>
    </div>
  </div>
</ng-template>

<h2 *ngIf="clienteModel!=null" class="h2-sunarp text-sunarp-gray-dark text-center mt-4 mb-4">{{'Pagos Pendientes de '+clienteModel.nombre+' '+clienteModel.apellidoPaterno+' '+clienteModel.apellidoMaterno}}</h2>
<div [hidden]="clienteModel==null" class="lista-pagos">
  <button (click)="retornarBusquedaCliente()" type="button" class="btn-sunarp-red "><i class="fa fa-arrow-left icon-sunarp mr-2"></i>Regresar</button>

  <div class="w-100 text-center mt-4">
    <button (click)="ejecutarAccion(1)" type="button"
      class="btn-sunarp-cyan"><i class="fa fa-shopping-cart icon-sunarp"></i>Registrar Nuevo Servicio</button>
  <div class="table-responsive mt-4">
    <table datatable class="table thead-sunarp" datatable [dtOptions]="datatable_pago"
      [dtTrigger]="datatable_dtTrigger_pago">
      <thead>
        <tr>
          <th style="width: 30px" class="text-center">N°</th>
          <th class="text-center">Código</th>
          <th class="text-center">Estado</th>
          <th class="text-center">Porcentaje Pagado</th>
          <th class="text-center">Monto Pagado Inicial</th>
          <th class="text-center">Medio Pago</th>
          <th class="text-center">Fecha Creación</th>
          <th class="text-center">Fecha Entrega</th>
          <th class="text-center">Usuario</th>
          <th class="text-center">Opciones</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
</div>


<ng-template #modal_pago let-c="close" let-d="dismiss">
  <div class="modal-content">
    <div class="modal-header bg-sunarp-gray-dark">
      <h3 class="modal-title h3-sunarp text-white">COTIZACIÓN DE SERVICIO</h3>
      <button tabindex="-1" type="button" class="close" aria-label="Close"
        style="overflow:hidden; position: absolute; right: 30px; top: 1px;background-color: transparent;border: 0px;"
        (click)="modal_pago_va.close();">
        <span aria-hidden="true" style="font-size:35px !important;" class="text-white">&times;</span>
      </button>
    </div>
    <div class="modal-body pl-5 pb-4 pr-5 pt-4">
      <h2 class="title-typ-devo text-center" style="font-size: 25px;">REGISTRAR<span
          class="text-sunarp-cyan"> COTIZACIÓN</span>
      </h2>
      <form [formGroup]="formPago">
        <div class="row">
          <div class="col-md-12 col-lg-12">
            <h5 class="mt-3 text-sunarp-cyan">Servicios Disponibles</h5>
            <div class="row">
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">Servicio</label>
                <ng-select formControlName="servicio" (change)="buscarSubservicio($event)"  bindLabel="nombre" bindValue="cod" placeholder="SELECCIONA">
                  <ng-option [value]="''">SELECCIONA</ng-option>
                  <ng-option *ngFor="let item of listaServicios" [value]="item.cod">
                    {{item.nombre}}</ng-option>
                </ng-select>
              </div>
              <div class="col-lg-6 col-md-12 mt-2">
                <label class="label-sunarp">Subservicio</label>
                <ng-select formControlName="subservicio" bindLabel="nombre" bindValue="cod" placeholder="SELECCIONA">
                  <ng-option [value]="''">SELECCIONA</ng-option>
                  <ng-option *ngFor="let item of listaSubServicios" [value]="item.cod">
                    {{item.nombre}}</ng-option>
                </ng-select>
              </div>
            </div>
            <div class="w-100 mt-3 text-center">
              <button [disabled]="!fpa.subservicio.value" (click)="agregarPagoBoton()" type="button" class="btn-sunarp-green"><i class="fa fa-plus icon-sunarp mr-2"></i>Agregar Servicio</button>
            </div>
            <div class="table-responsive mt-4">
              <table class="table table-soli-devo row-focus w-100">
                <thead>
                  <tr>
                    <th style="width: 30px" class="text-center">N°</th>
                    <th class="text-center">Descripción</th>
                    <th class="text-center">Monto</th>
                    <th class="text-center">Unidad</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Monto Total</th>
                    <th class="text-center">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let pago of listaPagos.controls; let i = index" [formGroup]="getPagoFormGroup(pago)">
                    <td class="text-center">{{ i + 1 }}</td>
                    <td class="text-center">{{ getPagoFormGroup(pago).get('nombre')?.value }}</td>
                    <td class="text-center fw-bold">
                      {{ getPagoFormGroup(pago).get('monto')?.value }}
                    </td>
                    <td class="text-center">{{ getPagoFormGroup(pago).get('unidad')?.value }}</td>
                    <td class="text-center" >
                      <input
                        digitOnly
                        formControlName="cantidad"
                        type="text"
                        class="form-control-sunarp text-center"
                      />
                    </td>
                    <td class="text-center">{{ getPagoFormGroup(pago).get('montoTotal')?.value }}</td>
                    <td class="text-center">
                      <button class="btn-sunarp-red" (click)="eliminarPago(i)" ><li class="fa fa-trash"></li></button>
                    </td>
                  </tr>
                  <tr >
                    <td colspan="6" class="text-end">Total:</td>
                    <td class="text-center fw-bold">
                      <p class="text-right">
                        <strong>Total: </strong> {{ calcularSumaMontoTotal() }}
                      </p>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button [disabled]="formPago.invalid" type="button" class="btn-sunarp-cyan"><i
          class="fa fa-plus icon-sunarp mr-2"></i>Cotizar Servicio</button>
      <button (click)="modal_pago_va.close();" type="button" class="btn-sunarp-red"><i
          class="fa fa-times icon-sunarp mr-2"></i>Salir</button>
    </div>
  </div>
</ng-template>
